.country-textfield .MuiInputBase-input {
  color: white;
}

.country-textfield .MuiInputLabel-root {
  color: white;
}

.country-textfield .MuiOutlinedInput-root fieldset {        
  border-color: #ccc;
}

.country-textfield .MuiOutlinedInput-root:hover fieldset {        
  border-color: #fff;
}

.country-textfield .MuiOutlinedInput-root.Mui-focused fieldset {        
  border-color: #1976d2;
}